%li.list-group-item
  %h3= link_to teacher.to_s, teacher
  = link_to 'Edit', edit_teacher_path(teacher)
  - if current_user.admin?
    %span.ml-5= link_to 'Deactivate', deactivate_teacher_path(teacher), method: :put, data: {confirm: 'Are you sure?'}
