%h2.display-3 Teachers

- if current_user.admin?
  .row.mt-3
    .col-3
    .col-6
      = render 'form'
    .col-3

%ul.list-group.mt-5
  - if params[:status] == 'deactivated'
    %p= link_to 'View Active Teachers', teachers_path
  - else
    %p= link_to 'View Deactivated Teachers', teachers_path(status: 'deactivated')
  = render @teachers
