/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  padding-top: 5rem;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-400;
  color: $gray-400;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  a {
    color: $gray-400;
    &:hover {
      color: $gray-400;
    }
  }
}

pre.debug_dump {
  clear: both;
  background-color: $gray-200;
}

.sign-in {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 20rem;
  img {
    width: 191px;
    height: 46px;
  }
}

#error_explanation {
  @extend .alert;
  @extend .alert-warning;
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.field_with_errors .form-control {
  @extend .is-invalid;
}

#student_subnav {
  margin: auto;
  display: block;
  text-align: center;
}

#student_subnav #btn_label {
  pointer-events: none;
}

.hint {
  color: $gray-400;
}
