/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  padding-top: 5rem;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-400;
  color: $gray-400;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  a {
    color: $gray-400;
    &:hover {
      color: $gray-400;
    }
  }
}

pre.debug_dump {
  clear: both;
  background-color: $gray-200;
}

.sign-in {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 20rem;
  img {
    width: 191px;
    height: 46px;
  }
}

#error_explanation {
  @extend .alert;
  @extend .alert-warning;
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.field_with_errors .form-control {
  @extend .is-invalid;
}


// @mixin box_sizing {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }


// // Universal

// body {
//   padding-top: 60px;
//   font-family: Helvetica, sans-serif;
// }

// section {
//   overflow: auto;
//   margin-bottom: 10px;
// }

// h1, h2, h3, h4, h5, h6 {
//   line-height: 1;
// }

// h1 {
//   font-size: 3em;
//   margin-bottom: 30px;
//   text-align: center;
// }

// p {
//   font-size: 1.1em;
//   line-height: 1.7em;
// }

// .center {
//   text-align: center;
// }

// .btn {
//   background-color: #F0F0F0;
//   color: lighten($highlight-color, 5%);
//   &:hover, &:focus {
//     background-color: lighten($highlight-color, 5%);
//     border-color: lighten($highlight-color, 5%);
//     color: #FFF;
//   }
//   &:active {
//     background-color: lighten($highlight-color, 10%) !important;
//     border-color: lighten($highlight-color, 10%) !important;
//   }
//   &:disabled {
//     background-color: lighten($highlight-color, 10%) !important;
//     border-color: lighten($highlight-color, 10%) !important;
//   }
// }

// .btn-primary {
//   background-color: $highlight-color;
//   border-color: $highlight-color;
//   color: #FFF;
// }

// .btn-danger {
//   border-color: #F0F0F0;
//   &:hover {
//     background-color: #FFF0F0;
//     border-color: #D00;
//     color: #D00;
//   }
//   &:active, &:focus {
//     background-color: #D00 !important;
//   }
// }

// nav.paginator {
//   display: block;
//   margin: 0 0 2em 0;
// }

// ul.pagination {
//   margin: 0px;
// }

// .pagination li a {
//   color: $highlight-color;
//   &:hover {
//     color: lighten($highlight-color, 5%);
//   }
// }

// .pagination li.active a {
//   background-color: $highlight-color;
//   border-color: $highlight-color;
//   &:hover {
//     background-color: $highlight-color;
//     border-color: $highlight-color;
//   }
// }

// .alert {
//   ul {
//     margin: 0 0 30px 0;
//   }
// }

// .alert .alert-heading {
//   margin: 0 0 10px 0;
// }

// .alert ul {
//   margin: 0px;
// }


// // Header

// a.navbar-brand img {
//   height: 48px;
//   margin-top: -14px;
// }

// #logo {
//   float: left;
//   margin-right: 10px;
//   font-size: 1.7em;
//   color: #DDD;
//   letter-spacing: -1px;
//   padding-top: 9px;
//   font-weight: bold;
//   &:hover {
//     color: #EEE;
//     text-decoration: none;
//   }
//   &:active {
//     color: #FFF;
//   }
// }

// .subnav {
//   height: 36px;
// }

// .btn-group .btn {
//   width: 80px;
// }

// .subnav .btn-primary {
//   min-width: 130px;
// }
