%li.list-group-item.my-2
  %h5= link_to activity.name, activity
  %h6
    = activity.room
    .float-right
      %span.badge.badge-pill.badge-secondary= activity.registrations.count
      %span.badge.badge-pill.badge-light.text-muted= activity.capacity
